{% load i18n %}
{% load reservation_extras %}
<tr id="row-{{ reservation.pk }}">
    <td>{{ reservation.date }}</td>
    <td>{{ reservation.client|full_name }}</td>
    <td>{{ reservation.class_slot }}</td>
    <td>{{ reservation.equipment }}</td>
    <td><span class="{{ reservation.status|status_badge_class }}">{{ reservation.status|status_label }}</span></td>
    <td>
        <a href="{% url 'reservations:reservation-detail' reservation.pk %}" class="btn btn-sm btn-outline-primary">{% translate "View" %}</a>
    </td>
</tr>
