{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Search Clients" %}{% endblock %}
{% block content %}
<h2>{% translate "Search Clients" %}</h2>
<form method="get" class="row g-3 mb-4"
      hx-get="{% url 'clients:client-search' %}"
      hx-trigger="keyup changed delay:300ms"
      hx-target="#search-results"
      hx-select="#search-results"
      hx-swap="outerHTML">
    <div class="col-md-4">{{ form.q }}</div>
    <div class="col-md-2"><button type="submit" class="btn btn-primary">{% translate "Search" %}</button></div>
    <div class="col-md-2"><a href="{% url 'clients:client-csv-upload' %}" class="btn btn-info">{% translate "Upload Clients" %}</a></div>
    <div class="col-md-2"><a href="{% url 'clients:client-create' %}" class="btn btn-success">{% translate "New Client" %}</a></div>
</form>

{% include "clients/_search_results.html" %}
{% endblock %}
